<%= simple_form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
  
  <%# f.input :report_id %>

  <%= f.input :description, label: "Task:" %>
  <%= f.input :due_date, label: "Imposta scadenza:",as: :string, input_html: {:class => "date", :value => (@task.due_date.blank? ? '' : @task.due_date.to_s(:date_format))} %>
  <%=f.input :user_id, :as => :select, label: "Assegna task a:", :collection => User.where("id != ?", current_user.id), :value_method => :id, :label_method => :username  %>


  <!-- hidden -->
  <%= f.input :owner_id, :as => :hidden, input_html: {:value => current_user.id} %>
  
  <div class="form-actions">  
    <%= f.button :submit, :class => 'btn-primary' %>
    <%=  t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>  
  </div>
<% end %>
