
      <tr>
        
        <td><%= link_to deal.protocol_number, deal_path(deal) %></td>
        <td><%= deal.user.username %></td>
        <td><%= deal.billed.name %></td>
        <td><%= deal.operative.name %></td>
        <td><%= deal.shipment_mode %></td>
        <td><span class="label label-<%= deal.status.downcase  %>"><%= deal.status %></span></td>
        <td><%=l deal.created_at %></td>
        <td><%= deal.offered_import %></td>
        <td><%= deal.real_import %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_deal_path(deal), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      deal_path(deal),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>

 