<%= simple_form_for @deal, :html => { :class => 'form-horizontal' } do |f| %>
<<<<<<< HEAD
  <%= f.input :protocol_number %>
  <%= f.input :user_id %>
  <%= f.input :legal_company %>
  <%= f.input :operative_company %>
  <%= f.input :description %>
  <%= f.input :shipment %>
  <%= f.input :amount_offered %>
  <%= f.input :amount_accepted %>
  <%= f.input :status %>
=======

  <%= f.input :protocol_number, :disabled => true,  :input_html => { :value =>  @pn }  %>
  <%= f.input :user_id, :as => :select, :label => "Venditore", :collection => User.sellers , :value_method => :id, :label_method => :username  %>
  <%= f.input :billed_company, :as => :select, :label => "Società intestataria", :collection => Company.all, :value_method => :id, :label_method => :name %>
  <%= f.input :operative_company, :as => :select, :label => "Società presso cui", :collection => Company.all, :value_method => :id, :label_method => :name %>
  <%= f.input :description %>
  <%= f.input :offered_import %>

  <%= f.input :real_import if @deal.status == "Won" %>
  <%= f.input :status, :as => :select, :collection => deal_status, :default => 1  %>
  <%= f.input :shipment_mode, :as => :select, :collection => shipment_mode, :default => 1  %>
>>>>>>> deals
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                deals_path, :class => 'btn' %>
  </div>
<% end %>
