<%- model_class = Deal -%>
<script type="text/javascript">
jQuery(document).ready(function($) {
  $('#dealsindex').dataTable({
    "aaSorting": [[ 7, "desc" ]],
        "sDom": "<'row-fluid'<'span2'l><'span4'T><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",

            
  "oTableTools": {
        "aButtons": [
          "copy",
          "print",
          {
            "sExtends":    "collection",
            "sButtonText": 'Save <span class="caret" />',
            "aButtons":    [ "csv", "xls", "pdf" ]
          }
        ]
      },
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sSearch": "<i class='icon-search'></i>",
            "sZeroRecords": "Nessun elemento disponibile",
            "sLengthMenu": "Mostra _MENU_ righe",
            "sPrevious": "Precedente",
            "sNext": "Successivo",
             "sInfo": "da <b>_START_</b> a <b>_END_</b> totali: <span class='label label-info'>_TOTAL_</span>",
        },

    });});
</script>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_deal_path,
            :class => 'btn btn-primary' %>
<div class="box">

  <div class="box-header">
    <h2>
      <i class="icon-money"></i><span class="break"></span>
      Deal
    </h2>
  </div>
  <div class="box-content">
<table class="table table-striped table-bordered" id="dealsindex">
  <thead>
    <tr>
    
      <th>N. prot.</th>
      <th>Venditore</th>
      <th>Fattura a</th>
      <th>Operatività</th>
      <th>Consegna</th>
      <th>Descrizione</th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th>Creata il</th>
      <th>Offerta €</th>
      <th>Venduta €</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @deals.each do |deal| %>
      <tr>

        
        <td><%= link_to deal.protocol_number, deal_path(deal) %></td>
        <td><%= deal.user.username %></td>
        <td><%= link_to deal.billed.name, company_path(deal.billed) %></td>
        <td><%= deal.operative.name unless deal.operative.name? %></td>
        <td><%= deal.shipment_mode %></td>
        <td><%= truncate(deal.description, :length => 100, :separator => ' ') %></td>
        <td><span class="label label-<%= deal.status.downcase  %>"><%= deal.status %></span></td>
        <td><%=t deal.created_at %></td>
        <td><%= number_to_currency(deal.offered_import) %></td>
        <td><%= number_to_currency(deal.real_import) %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_deal_path(deal), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      deal_path(deal),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


