<%- model_class = Deal -%>

<div class="box">

  <div class="box-header">
    <h2>
      <i class="icon-money"></i><span class="break"></span>
      Deal
    </h2>
  </div>
  <div class="box-content">
    <h4>Numero protocollo: <%= @deal.protocol_number %> <span class="label label-<%= @deal.status.downcase %>"><%= @deal.status %></span></h4> 

    <p>Venditore: <strong><%= @deal.user.username %></strong></p>

<table cellpadding="10">
<tr>
  <td>
    <p>Fatturare a: <strong><%= link_to @deal.billed.name, company_path(@deal.billed) %></strong></p>
  </td>
  <td>
    <p>Eseguire presso: <strong><%= @deal.operative.name %></strong></p>
  </td>  
  <td>
    <p>inviata tramite: <strong><%= @deal.shipment_mode%></strong></p>
  </td>
</tr>
</table>
    <hr>
<h5>Descrizione:</h5>
<p><%= @deal.description %></p>

<div class="row">
  <div class="span4"><strong>Valore offerta:</strong> <%= number_to_currency(@deal.offered_import) %></div>
  <% if @deal.real_import %>
  <div class="span4"><strong>Venduta a:</strong> <span class="green"><%= number_to_currency(@deal.offered_import) %></span></div>
  <% end %>
</div>

<div id="price"></div>
  </div>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              deals_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_deal_path(@deal), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              deal_path(@deal),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
